<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        function addImageField(){
            var imageContainer = document.getElementById('imageContainer')
            var input = document.createElement('input')
            input.type='file'
            input.name='image'
            imageContainer.appendChild(input)
            imageContainer.appendChild(document.createElement('p'))

        }
        function addField(){
            var container=document.getElementById("container")
            // container.appendChild(document.createTextNode('Review ' + (i + 1)))
                var input = document.createElement('input')
                input.type = 'text'
                input.name = 'reviews'
                input.placeholder ='Review'
                container.appendChild(input)
                container.appendChild(document.createElement("p"))
        }
    </script>
</head>
<body>
    <h3>Add Product</h3>
    <form method="post" action='/products' enctype="multipart/form-data">
        <label> Enter Product Details</label><p></p>
        <label>Select Category</label>
        <select name="productCategory" >
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Kid">Kids</option>
        </select><p></p>
        <input type="text" name='productName'placeholder="Enter Product Name"><p></p>
        <input type="number" name='productCount'placeholder="Enter Product Count"><p></p>

        <label>Select Brand</label>
        <select name="Brand">
            <option value="Nike">Nike</option>
            <option value="Adidas">Adidas</option>
            <option value="Arrow">Arrow</option>
            <option value="Raymond">Raymond</option>
            <option value="Nandhu">Nandhu</option>
            <option value="SRS">SRS</option>
            <option value="Woodland">Woodland</option>
            <option value="Bata">Bata</option>
        </select><p></p>
        <label>Description</label><p></p>
        <textarea name="description" id="" cols="30" rows="10"></textarea><p></p>
        <input type="number" name="productPrice" placeholder="Enter Price"><p></p>
        <input type="number" name="productDiscount" placeholder="Enter Discount %"><p></p>
        <button id='image' onclick="addImageField()" type="button">Add Image</button><p></p>
        <div id="imageContainer"></div>
        <button id='review' onclick="addField()" type="button">Add Review</button><p></p>
        <div id="container"></div>
        <input type="submit" value="Add Product">
    </form>


</body>
</html>